<ng-container *ngIf="mostrar">
  <div class="modal">
    <h1 class="text-center pb-10">Atualizar Livro.</h1>
    <p>
      Lorem ipsum, dolor sit amet
      consectetur adipisicing elit.
      Earum dicta non alias distinctio,
      aliquid aperiam ipsum provident
      quae nihil voluptatibus veniam
      fuga similique facilis consequatur
      reiciendis recusandae. Velit magni
      distinctio corporis eaque ad itaque
      ex impedit accusamus. Debitis pariatur
      cum quam rerum reprehenderit quod
      iure, in explicabo facere vero nemo?
    </p>
    <ng-content></ng-content>
  </div>
  <div (click)="toggle()" class="overlay"></div>
</ng-container>