<ng-container *ngIf="mostrar">
  <div class="modal">
    <h1 class="text-center pb-10 text-2xl">Deseja deletar o livro?</h1>
      <div class="flex justify-between">
        <button
          (click)="toggle()"
          class="px-6 py-2 mt-10 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
          Sim
        </button>

        <button
          (click)="toggle()"
          class="px-6 py-2 mt-10 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:ring focus:ring-red-300 focus:ring-opacity-80">
          Não
        </button>
      </div>

    <ng-content></ng-content>
  </div>
  <div (click)="toggle()" class="overlay"></div>
</ng-container>